@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<img src="https://th.bing.com/th/id/R.af20a342bb11b3ce4e28da7086cad919?rik=yhBeWfRskN%2fA3Q&pid=ImgRaw&r=0" />
<div class="container">
    <div class="jumbotron">
        <h2> administrator area</h2>
        <a asp-area="" asp-controller="Home" asp-action="Index" ">Home</a>
    </div>
</div>
