@*aqui definimos o Model da aplicação, que será o lunchlistviewmodel que passamos no controller, e aqui precisamos definir o tipo dele*@
@model LunchListViewModel

@{
    ViewData["Title"] = "List";
}

<h1>@Model.CategoriaAtual</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<h1 style="text-align: center; margin-bottom: 50px">Todos os lanches</h1>
<div class="container">
    <div class="row">
        @foreach (var lanche in Model.Lanches)
        {
            <div class="lunchs col-sm-4 col-md-4 col-lg-4">
                <h4>@lanche.Name</h4>
                <p><img class="lunch-images" src="https://th.bing.com/th/id/OIP.aoRZYH65wJCiz2SDTo46nQHaE8?pid=ImgDet&rs=1" /></p>
                <p><strong> Preço : @lanche.Price.ToString("c")</strong></p>
            </div>
        }

    </div>
</div>