
<div class="container">
    <img src="https://media.licdn.com/dms/image/C560BAQGguYK7Uy68Fw/company-logo_200_200/0/1519883700337?e=2147483647&v=beta&t=AvCS3NwWiXFjg8fLEBKQj-XdukRJKDecswG1NfUy7tE" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="https://img.ibxk.com.br/2019/07/01/01112808350049.jpg" />
            </span>
            <h5><email endereco="macoratti@yahoo.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="https://www.transparentpng.com/thumb/whatsapp/FJNct7-clipart-photo-whatsapp.png" width="50" />
            </span>
            <h5>(11) 9874-5566</h5>
            <br />
            <span>
                <img src="https://hzcoworkingspace.com.br/wp-content/uploads/2017/03/endereco-fiscal-dtq.jpg" width="40" />
            </span>
            <h5>Av. Juscelino Kubichek 1000 - 03540-550 - São Paulo</h5>
        </p>
    </div>
</div>
