@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">[GENSHIN IMPACT THE GAME!]</a>.</p>
</div>

@*esse é o modo que iremos usar para exibirmos componentes reutilizaveis*@
<partial name="_Carousel"/>