@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>
        POKEDEX
    </h1>
    <div>
        <h2>
            Disclaimer
        </h2>
            <p>
                This will be a pokedex system, i think is a good one to start to use apis and improve my knowledge.
.            </p>
    </div>    
</div>