@model Lunch


<div class="lunchs col-sm-4 col-md-4 col-lg-4">
    <h4>
        <a asp-controller="Lanche" asp-action="Details" asp-route-lunchId="@Model.LunchId">
            @Model.Name
        </a>
    </h4>
    <p><img class="lunch-images" src="https://th.bing.com/th/id/OIP.aoRZYH65wJCiz2SDTo46nQHaE8?pid=ImgDet&rs=1" /></p>
    <p><strong> Preço : @Model.Price.ToString("c")</strong></p>
    <p>@Model.ShortDescription</p>
</div>