@model HomeViewModel


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">[GENSHIN IMPACT THE GAME!]</a>.</p>
</div>

@*esse é o modo que iremos usar para exibirmos componentes reutilizaveis*@
<partial name="_Carousel"/>

<h1>LANCHES PREFERIDOS PELOS CLIENTES!!!</h1>
<div>
    @foreach(var lanches in Model.Preferidos)
    {
        <partial name="_ViewLanchesResumo" for="@lanches" />
    }
</div>